@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Farsan&family=Poppins&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #171617;
  color: #ccc;
  overflow-x: hidden;
}
body.active {
  background-color: #ccc;
  color: #171617;
}

.header-sect {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: #0b0b0b;
  height: 8vh;
  z-index: 1000;
}
.header__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 8vh;
}

.header__img {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  object-fit: cover;
}
.header__img img {
  max-width: 100%;
  height: auto;
}
#header-toggle {
  font-size: 1.2rem;
  color: #fff;
  cursor: pointer;
}
.dark-mode-toggle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 50px;
  width: 60px;
  height: 30px;
  border-radius: 30px;
  background-color: #222;
  box-shadow: inset 0 8px 16px rgba(0, 0, 0, 0.1),
    inset 0 8px 8px rgba(0, 0, 0, 0.1), inset 0 -4px -4px rgba(0, 0, 0, 0.1);
}
.dark-mode-toggle .indicator {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background: linear-gradient(to bottom, #444, #222);
  height: 100%;
  width: 50%;
  transform: scale(0.87);
  box-shadow: 0 0px 5px rgba(0, 0, 0, 1),
    inset 0 2px 4px rgba(255, 255, 255, 0.2),
    inset 0 -2px 4px rgba(255, 255, 255, 0.2);
  cursor: pointer;
  transition: 0.5s;
}

.dark-mode-toggle.d-active {
  background-color: #efefef;
}
.dark-mode-toggle.d-active .indicator {
  left: 50%;
  background: linear-gradient(to bottom, #eaeaea, #f9f9f9);
  box-shadow: 0 8px 40px rgba(0, 0, 0, 0.5),
    inset 0 4px 4px rgba(255, 255, 255, 1),
    inset 0 -4px -4px rgba(255, 255, 255, 1);
}
/*  side nav */
.side-bar {
  transition: all 0.4s ease-in;
  position: fixed;
  background-color: #0b0b0b;
  padding: 1rem 1rem 0;
  top: 0;
  left: 0;
  width: auto;
  height: auto;
  z-index: 10000;
  opacity: 0;
}
.side-bar-active {
  opacity: 1;
  transition: opacity 1s ease;
}

.side-bar:hover {
  box-shadow: 30px 0px 90px 100vw rgba(0, 0, 0, 0.3);
}
.side-bar:hover span {
  font-size: 1rem;
}
.side-bar span {
  font-size: 0;
  transition: font-size 0.4s ease-in;
}
.li_container {
  display: flex;
  flex-direction: column;
  gap: 100px;
  height: 100vh;
  justify-content: center;
  list-style: none;
  list-style: none;
  position: relative;
  width: 100%;
}

.li_container li {
  position: relative;
  width: 100%;
}
.li_container li a {
  position: relative;
  padding: 40px 20px;
}
.name_container a {
  color: #444;
  text-decoration: none;
}
.li_container a {
  text-decoration: none;
  color: #444;
}
.li_container li:hover a,
.li_container li:hover .icon,
.name_container a:hover {
  color: #eee;
  transition: color 0.6s ease;
}
.name_container {
  margin-top: 10px;
}

.li_container li .active {
  background-color: #161516;
  border-radius: 20px;
}
.side-bar:hover li .active {
  padding: 20px 40px;
  transition: padding 0.4s ease-in;
}

/* main */

/* INTRO */
.intro {
  display: flex;
  justify-content: space-around;
  text-align: flex-start;
  align-items: center;
  margin-top: 40px;
  border-bottom: 1px dotted #0b0b0b;
  height: 92vh;
}
.intro_img_cont {
  width: 40vh;
}
.intro_img_cont img {
  width: 100%;
}
.intro_text_cont {
  width: 50vw;
}
.intro_text_h1 {
  font-size: 3rem;
  letter-spacing: 2px;
  margin-bottom: 6px;
}

/* KNOWLEDGE */
.about_cont {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100vw;
  text-align: center;
}
.about_h2 {
  font-size: 2rem;
  letter-spacing: 4px;
  font-weight: 800;
}
.about_studies_cont {
  display: flex;
  margin-bottom: 60px;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100vw;
  overflow: hidden;
}
.about_lang {
  display: flex;
  flex-direction: column-reverse;
  width: 25vw;
  background-color: #121228;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 5%,
    rgba(18, 18, 40, 0.94) 44%
  );
  box-shadow: 3px 3px 22px 12px rgba(0, 0, 0, 0.3);
  margin-bottom: 2rem;
  cursor: pointer;
  padding: 30px;
  gap: 10px;
}
.about_lang_img {
  width: 100%;
}

.about_lang_title {
  font-size: 1.4rem;
  color: #eee;
  letter-spacing: 2px;
  font-weight: 800;
  margin-bottom: 1rem;
}
.about_lang SPAN {
  font-size: 0.8rem;
  color: #999999;
}

/* proyects */

.proyects-container {
  margin: 0 auto;
  width: 80vw;
}
.proyect-cont {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.proyect-cont span {
  color: #444;
}
.proyect-cont h1 {
  color: transparent;
  letter-spacing: 2px;
  background: linear-gradient(
    0deg,
    rgb(143, 143, 143) 22%,
    rgba(18, 18, 40, 0.94) 44%
  );
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 2rem;
  -webkit-text-stroke: 1px #333;
  line-height: 1.1em;
  animation: back 10s linear infinite;
}
@keyframes back {
  100% {
    background-position: 0 10em;
  }
}
.proyects {
  grid-gap: 5rem;
  display: grid;
  gap: 5rem;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  height: auto;
  width: 100%;
  margin-top: 40px;
}
.proyect {
  background-color: #efefef;
  border-radius: 1.7rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  display: flex;
  height: 50vh;
  position: relative;
  padding: 20px;
  background-image: url(./img/banner-bg.png);
}
.proyect-reversed {
  flex-direction: row-reverse;
}
.proyect-img-cont {
  background-color: hsla(0, 0%, 46%, 0.2);
  border-radius: 1.7rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: auto;
  overflow: hidden;
  margin-right: 20px;
}
.proyect-img-cont img {
  width: 100%;
  transform: translateY(0%);
  transition: transform 6s ease-in-out 0s;
}

.proyect-img-cont img:hover {
  transform: translateY(-80%);
  transition: transform 6s ease-in-out 0s;
}

.proyect-info-cont {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.proyect-h3 {
  font-size: 1.8em;
  text-transform: uppercase;
  color: #efefef;
  font-weight: 800;
  font-family: "Bebas Neue";
  letter-spacing: 4px;
}
.proyect-p {
  color: #999;
  width: 80%;
}
.links {
  display: flex;
  justify-content: space-evenly;
}
.link {
  padding: 20px;
  background-color: #0b0b0b;
  border-radius: 1rem;
  text-decoration: none;
  color: #efefef;
  transition: background-color 0.4s ease-in-out;
}
.link:hover {
  background-color: transparent;
  border: 1px solid rgb(73, 39, 63);
  transition: padding 0.4s ease-in-out;
}

/* contact */
.form-container {
  position: relative;
  width: 100%;
  min-height: 60vh;
  padding: 2rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.form {
  width: 100%;
  max-width: 70vw;
  border-radius: 10px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
  z-index: 100;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.form-data {
  background-color: #b5acd8;
  background-image: url(./img/banner-bg.png);
  position: relative;
  border-right: 2px solid #111;
  border-top: 2px solid #121228;
  border-radius: 10px;
}

.form-data:before {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  background-color: #b5acd8;
  transform: rotate(45deg);
  top: 50px;
  left: -13px;
}
form {
  padding: 2.3rem 2.2rem;
  z-index: 10;
  overflow: hidden;
  position: relative;
}
.title {
  color: #9db5ff;
  font-weight: 800;
  position: relative;
  font-size: 1.5rem;
  line-height: 1;
  margin-bottom: 0.7rem;
  letter-spacing: 4px;
  max-width: fit-content;
}
.title:after {
  content: "";
  width: 50px;
  border-bottom: 4px double #9db5ff;
  height: 2px;
  position: absolute;
  top: 100%;
  left: 0;
  animation: move 1s ease-in infinite;
}
@keyframes move {
  50% {
    left: 25px;
  }
  100% {
    left: 0px;
  }
}

.input-container {
  position: relative;
  margin: 1rem 0;
}
.input-container label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  padding: 0 0.4rem;
  color: #9db5ff;
  font-size: 0.9rem;
  font-weight: 400;
  transition: 0.5s;
}
.input-container.textarea label {
  top: 1rem;
  transform: translateY(0);
}

.input-container .input {
  width: 80%;
  outline: none;
  border: 2px solid #422640;
  background: none;
  padding: 0.6rem 1.2rem;
  color: #9db5ff;
  font-weight: 500;
  font-size: 0.9rem;
  border-radius: 25px;
  transition: 0.3s;
  z-index: 10;
  position: relative;
}
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}
.input-container textarea.input {
  padding: 0.8rem 1.2rem;
  min-height: 250px;
  border-radius: 22px;
  resize: none;
  overflow-y: auto;
}
form .btn {
  padding: 0.6rem 1.8rem;
  background-color: #b5acd8;
  border: 1px solid;
  color: #121228;
  font-weight: 800;
  text-transform: uppercase;
  border-radius: 20px;
  line-height: 2;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}
form .btn:hover {
  background-color: transparent;
  color: #b5acd8;
}

.input-container span {
  position: absolute;
  top: 0;
  left: 25px;
  transform: translateY(-50%);
  font-size: 0.8rem;
  padding: 0 0.4rem;
  color: transparent;
  pointer-events: none;
  z-index: 500;
}

.input-container span:before,
.input-container span:after {
  content: "";
  position: absolute;
  width: 50%;
  opacity: 0;
  transition: 0.3s;
  height: 5px;
  top: 50%;
  transform: translateY(-50%);
}

.input-container span:before {
  left: 50%;
}

.input-container span:after {
  right: 50%;
}

.input-container.focus label {
  top: 0;
  transform: translateY(-50%);
  left: 25px;
  font-size: 0.8rem;
  z-index: 1000;
}
.input-container.focus span:before,
.input-container.focus span:after {
  width: 50%;
  opacity: 1;
}

.form-info {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  background-image: url(./img/color-sharp2.png);
  background-size: cover;
}
.form-info-contact {
  display: flex;
  justify-content: space-around;
  width: 80%;
}

.info-social {
  border: 2px solid #422640;
  padding: 12px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}
.info-social:hover {
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 0px;
  scale: 1.05;
  background-color: #422640;
  border-bottom-left-radius: 0px;
}
.info-social i {
  padding-right: 4px;
  color: #ededed;
}

.info-social a {
  text-decoration: none;
  color: #9db5ff;
}

footer {
  background: linear-gradient(#422640, rgba(145, 169, 240, 0.6));
  width: 100vw;
  height: 75vh;
  overflow: hidden;
  position: relative;
}
footer::before {
  content: "";
  width: 40px;
  height: 40px;
  background-color: #422640;
  position: absolute;
  top: -20px;
  rotate: 45deg;
  left: 100px;
}
footer::after {
  content: "";
  width: 40px;
  height: 40px;
  background-color: #422640;
  position: absolute;
  top: -20px;
  rotate: 45deg;
  right: 100px;
}
.footer-h2 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 3rem;
  padding-top: 40px;
}

.footer-social-cont {
  display: flex;
  justify-content: space-evenly;
  margin-top: 300px;
  background-color: #0b0b0b;
  padding: 100px;
}
.footer-social {
  border-bottom: 1px solid #422640;
  background-color: #efefef;
  border-radius: 3px;
  border-right: 1px solid #422640;
  transition: all 0.4s linear;
  box-shadow: -4px -10px 12px 0px rgba(255, 255, 255, 0.4);
}
.footer-social:hover {
  box-shadow: 4px 10px 20px 0px rgba(0, 0, 0, 0.4);
  border-right: none;
  border-bottom: none;
}
.footer-social:hover a {
  gap: 40px;
  color: #0b0b0b;
}
.footer-social:hover i {
  background-color: #0b0b0b;
  color: #efefef;
}
.footer-social a {
  display: flex;
  justify-content: center;
  gap: 50px;
  text-decoration: none;
  color: #0b0b0b;
  font-size: 1.1rem;
  padding: 40px 60px;
  transition: all 0.4s linear;
}
.footer-social-info span {
  color: #333;
  font-size: 0.8rem;
}
.footer-social i {
  font-size: 2rem;
  background-color: #9db5ff;
  padding: 1rem;
  border-radius: 20px;
}
.footer-copy {
  width: 100vw;
  height: 8vh;
  color: #9db5ff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 40px;
}
.footercopy h6 {
  text-align: center;
}
/* media */
@media (max-width: 320px) {
  .side-bar {
    opacity: 0;
  }
  .side-bar-active {
    opacity: 1;
  }
  .intro {
    flex-direction: column;
    height: auto;
    align-items: flex-start;
  }
  .intro_img_cont {
    width: 60%;
    align-self: center;
  }
  .intro_text_cont {
    margin-left: 50px;

    margin-bottom: 100px;
  }
  .intro_text_h1 {
    font-size: 2rem;
    margin-bottom: 40px;
  }
  .intro_text_cont p {
    width: 80vw;
  }
  /* about */

  .about_studies_cont {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about_lang {
    width: 90%;
  }

  /* PROYECTOS */
  .proyect {
    flex-direction: column;
    height: auto;
  }
  .proyect-cont h3 {
    font-size: 1.5rem;
  }
  .proyect-info-cont {
    width: 100%;
  }

  .proyect-p {
    width: 100%;
  }
  .proyect-img-cont {
    height: 20vh;
    width: 100%;
    margin-bottom: 20px;
  }
  .links {
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    margin-top: 20px;
  }
  .link {
    padding: 10px;
  }
  /* formulario */
  .form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 100vw;
    height: auto;
  }
  .form-info {
    height: 50vh;
    text-align: center;
  }
  .form-info-contact {
    flex-direction: column;
    gap: 20px;
  }
  .input-container .input {
    width: 100%;
  }
}
@media (min-width: 320px) and (max-width: 768px) {
  .dark-mode-toggle {
    width: 40px;
    height: 20px;
    right: 5px;
  }
  .side-bar {
    opacity: 0;
    display: none;
  }
  .side-bar-active {
    opacity: 1;
  }
  .intro {
    flex-direction: column;
    height: auto;
    align-items: flex-start;
    margin-top: 100px;
  }
  .intro_img_cont {
    width: 50%;
    align-self: center;
  }
  .intro_text_cont {
    margin-left: 50px;

    margin-bottom: 100px;
  }
  .intro_text_h1 {
    font-size: 2rem;
    margin-bottom: 40px;
  }
  .intro_text_cont p {
    width: 80vw;
  }
  /* about */

  .about_studies_cont {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about_lang {
    width: 50%;
  }

  /* PROYECTOS */
  .proyect {
    flex-direction: column;
    height: 60vh;
  }
  .proyect-cont h3 {
    font-size: 1.5rem;
  }
  .proyect-info-cont {
    width: 80%;
  }

  .proyect-p {
    width: 90%;
  }
  .proyect-img-cont {
    height: 30vh;
    width: 100%;
    margin-bottom: 20px;
  }
  .links {
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    margin-top: 20px;
  }
  .link {
    padding: 10px;
  }
  /* formulario */
  .form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 100vw;
    height: auto;
  }
  .form-info {
    height: 50vh;
    text-align: center;
  }
  .form-info-contact {
    flex-direction: column;
    gap: 20px;
  }
  .input-container .input {
    width: 100%;
  }
}
